# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for data science
* List commonly used libraries in data science
* List open source data science tools
* To Evaluate arithmetic operation
* To provide comment in code cell

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. Keras

| Data Science tools|
---------------------
| MySQL|
|MongoDB|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Illakiya B